### Infos du csv

In [1]:
import pandas as pd

df = pd.read_csv('csv/earthquakes.csv')

print('Shape:', df.shape)

pd.set_option('display.max_columns', None)

df.head()

Shape: (3272774, 22)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,1970-01-01T00:00:00.0Z,37.003502,-117.996834,0.0,0.00,mh,0.0,NaN,NaN,NaN,ci,ci37038459,2016-04-02T20:22:05.312Z,"29km NE of Independence, CA",sonic boom,NaN,NaN,NaN,0.0,reviewed,ci,ci
1,1970-01-01T00:00:00.0Z,35.642788,-120.933601,5.0,1.99,mh,2.0,NaN,NaN,NaN,ci,ci11092098,2016-01-29T01:43:14.870Z,"11km SSW of Lake Nacimiento, CA",earthquake,NaN,NaN,NaN,0.0,reviewed,ci,ci
2,1970-01-01T00:00:00.0Z,34.164520,-118.185036,0.0,0.00,mh,NaN,NaN,NaN,NaN,ci,ci15086796,2016-04-02T17:20:31.235Z,"4km S of La Canada Flintridge, CA",earthquake,NaN,NaN,NaN,0.0,reviewed,ci,ci
3,1970-01-01T00:00:00.0Z,33.836494,-116.781868,0.0,0.00,mh,NaN,NaN,NaN,NaN,ci,ci14891508,2016-04-02T14:10:48.389Z,"9km S of Cabazon, CA",sonic boom,NaN,NaN,NaN,0.0,reviewed,ci,ci
4,1970-01-01T00:00:00.0Z,33.208477,-115.476997,5.0,0.00,mh,NaN,NaN,NaN,NaN,ci,ci10925125,2016-04-02T04:32:22.103Z,"5km SE of Niland, CA",sonic boom,NaN,NaN,NaN,0.0,reviewed,ci,ci

### Doublons ?

In [2]:
# Check for strictly identical rows
num_duplicates = df.duplicated().sum()
print(f'Number of strictly identical rows: {num_duplicates}')

if num_duplicates > 0:
    print('Duplicate rows:')
    print(df[df.duplicated()])
else:
    print('No duplicate rows found.')

Number of strictly identical rows: 15819
Duplicate rows:
                             time   latitude   longitude   depth   mag  \
188      1970-03-01T00:49:06.230Z  33.122000 -117.654500   6.000  2.98
190      1970-03-01T04:14:14.310Z  35.406500 -117.954500   6.000  2.54
192      1970-03-01T05:44:23.110Z  33.987833 -118.430833   6.000  3.44
194      1970-03-01T10:51:11.580Z  46.881000 -119.424167  -0.261  2.30
196      1970-03-02T12:33:40.480Z  46.876500 -119.422500   2.729  1.40
...                           ...        ...         ...     ...   ...
3264767  2019-03-02T23:31:11.801Z  60.514900 -143.030400   3.900  1.10
3264769  2019-03-02T23:35:32.280Z  33.747500 -116.709167  10.860  0.83
3264771  2019-03-02T23:38:13.802Z  61.348700 -150.078600  40.700  0.80
3264773  2019-03-02T23:55:03.450Z  37.625667 -119.019333   1.510  0.31
3264775  2019-03-02T23:57:59.740Z  46.611500 -119.867000   6.190  0.06

        magType   nst    gap      dmin   rms net            id  \
188          ml   9.0  217.0  0.702700  0.68  ci     ci3324642
190          mh   4.0  258.0       NaN  0.38  ci     ci3324643
192          ml   5.0  248.0  0.268600  0.49  ci     ci3324644
194          md   7.0  145.0  0.134900  0.06  uw    uw10836218
196          md   4.0  229.0  0.135500  0.04  uw    uw10836223
...         ...   ...    ...       ...   ...  ..           ...
3264767      ml   NaN    NaN       NaN  0.75  ak  ak0192t9nt5v
3264769      ml  25.0  208.0  0.005272  0.10  ci    ci38481584
3264771      ml   NaN    NaN       NaN  0.47  ak  ak0192t9pb9r
3264773      md  17.0  102.0  0.017580  0.05  nc    nc73147421
3264775      ml   3.0  278.0       NaN  0.01  uw    uw61512931

                          updated                                 place  \
188      2016-01-29T01:38:30.170Z  28km WSW of Camp Pendleton South, CA
190      2016-01-29T01:33:57.060Z            29km W of Johannesburg, CA
192      2016-01-29T01:08:57.240Z         2km ENE of Marina del Rey, CA
194      2016-07-24T23:40:23.120Z                            Washington
196      2016-07-24T23:40:23.350Z                            Washington
...                           ...                                   ...
3264767  2019-03-24T10:08:07.113Z     59km NNW of Cape Yakataga, Alaska
3264769  2019-03-04T21:47:23.829Z               1km NE of Idyllwild, CA
3264771  2019-03-24T10:08:07.685Z         17km NNW of Anchorage, Alaska
3264773  2019-03-04T19:55:05.062Z          4km WSW of Mammoth Lakes, CA
3264775  2019-03-05T22:42:39.500Z    8km SSE of Desert Aire, Washington

               type  horizontalError  depthError  magError  magNst    status  \
188      earthquake            2.990       31.61  0.319000     5.0  reviewed
190      earthquake            3.180       31.61  0.205000    13.0  reviewed
192      earthquake            3.510       31.61  0.034000     3.0  reviewed
194      earthquake            0.022        0.04  0.140000     0.0  reviewed
196      earthquake            0.377        1.45  0.130000     0.0  reviewed
...             ...              ...         ...       ...     ...       ...
3264767  earthquake              NaN        0.70       NaN     NaN  reviewed
3264769  earthquake            0.400        0.24  0.197000    14.0  reviewed
3264771  earthquake              NaN        0.80       NaN     NaN  reviewed
3264773  earthquake            0.220        0.44  0.125000    14.0  reviewed
3264775  earthquake            1.240        0.62  0.060505     3.0  reviewed

        locationSource magSource
188                 ci        ci
190                 ci        ci
192                 ci        ci
194                 uw        uw
196                 uw        uw
...                ...       ...
3264767             ak        ak
3264769             ci        ci
3264771             ak        ak
3264773             nc        nc
3264775             uw        uw

[15819 rows x 22 columns]

### Types de variables avant conversion

In [3]:
df = pd.read_csv('csv/earthquakes.csv')
df.dtypes

time                object
latitude           float64
longitude          float64
depth              float64
mag                float64
magType             object
nst                float64
gap                float64
dmin               float64
rms                float64
net                 object
id                  object
updated             object
place               object
type                object
horizontalError    float64
depthError         float64
magError           float64
magNst             float64
status              object
locationSource      object
magSource           object
dtype: object

### Conversion des variables

In [6]:
df = pd.read_csv('csv/earthquakes.csv')

# tout convertir
df = df.convert_dtypes()

# puis les dates
date_columns = ['time', 'updated']
for col in date_columns:
    df[col] = pd.to_datetime(df[col], utc=True, errors='coerce')

df.to_parquet('csv/earthquakes.parquet')

In [7]:
df = pd.read_parquet('csv/earthquakes.parquet')
df.dtypes

time               datetime64[ns, UTC]
latitude                       Float64
longitude                      Float64
depth                          Float64
mag                            Float64
magType                 string[python]
nst                              Int64
gap                            Float64
dmin                           Float64
rms                            Float64
net                     string[python]
id                      string[python]
updated            datetime64[ns, UTC]
place                   string[python]
type                    string[python]
horizontalError                Float64
depthError                     Float64
magError                       Float64
magNst                           Int64
status                  string[python]
locationSource          string[python]
magSource               string[python]
dtype: object

### VÃ©rification conversion des dates

In [11]:
df = pd.read_csv('csv/earthquakes.csv')

# Compter les valeurs vides dans 'time' et 'updated'
time_nulls = df['time'].isnull().sum()
updated_nulls = df['updated'].isnull().sum()

print(f"Nombre de valeurs vides dans 'time': {time_nulls}")
print(f"Nombre de valeurs vides dans 'updated': {updated_nulls}")

Nombre de valeurs vides dans 'time': 0
Nombre de valeurs vides dans 'updated': 0

In [12]:
df = pd.read_parquet('csv/earthquakes.parquet')

# Compter les valeurs vides dans 'time' et 'updated'
time_nulls = df['time'].isnull().sum()
updated_nulls = df['updated'].isnull().sum()

print(f"Nombre de valeurs vides dans 'time': {time_nulls}")
print(f"Nombre de valeurs vides dans 'updated': {updated_nulls}")

Nombre de valeurs vides dans 'time': 0
Nombre de valeurs vides dans 'updated': 0